@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    min-height: 100vh;
}
header
{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#logo
{
    text-transform: uppercase;
    padding: 0 10px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
#toggle
{
    width: 60px;
    height: 60px;
    background-color: royalblue;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    cursor: pointer;
}
#toggle::before
{
    content:'' ;
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background-color: black;
    transform: translateY(5px);
    transition: all 0.5s;

}
#toggle::after
{
    content:'' ;
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background-color: black;
    transform: translateY(-5px);
    transition: all 0.5s;

}
#toggle.active
{
    background-color:red;
}
#toggle.active::after
{
    transform: translateY(0) rotate(45deg);

}
#toggle.active::before
{
    transform: rotate(-45deg);

}
#navbar
{
    position: relative;
    height: 60px;
    right: 30px;
    width:0px;
    transition: all 0.5s;
    overflow: hidden;
    /* background-color: #fff; */


}
#navbar.active
{
    width: 700px;

}
#navbar ul
{
    /* position: relative; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar ul li a{
    text-decoration: none;
    padding: 0 20px;
    color:black ;
    font-weight:bold;
    /* letter-spacing: 1px; */
    display: inline-block;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#navbar ul li a:hover
{
    background-color: blue;
    color: white;
}

article
{
  
    font-size: 18vw;
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    opacity: 0.1;
    text-transform: capitalize;
}
/* ==========================responsive */
@media screen and (max-width:900px) {
    #navbar
    {
        position: fixed;
        bottom:0px;
        /* width: 100%; */
        /* height: 100%; */
        right: 0;
        bottom: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* z-index: 999; */
        
    }
    #navbar.active
    {
        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
    }
    #navbar ul
    {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 

    
}



